.bg-container {
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  background-color: #ffffff;
  border-radius: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.heading {
  color: #a35200;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 700;
}
.descrip {
  color: #334155;
  font-family: 'Roboto';
  font-size: 15px;
}
.img-size {
  width: 150px;
}
.toss-btn {
  background-color: #f9d423;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto';
  font-size: 12px;
  color: #a35200;
  font-weight: 700;
  width: 75px;
  height: 25px;
  margin-top: 25px;
}
.count-container {
  display: flex;
  margin: 15px;
  padding: 15px;
}
.value {
  color: #475569;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  margin: 15px;
}
